.carousel-wrap {
  position: relative;
  height: 12rem;
  width: 90%;
  margin: -4.6rem auto 0 auto;
  overflow: hidden;
  border-radius: 0.4rem;
}

.slide-ul {
  width: 100%;
  height: 100%;
  padding: 0;
  li {
    position: absolute;
    width: 100%;
    height: 100%;
    list-style: none;
    img {
      width: 100%;
      height: 100%;
      border-radius: 0.4rem;
    }
  }
}

.carousel-items {
  position: absolute;
  z-index: 10;
  top: 6.8rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
  span {
    display: inline-block;
    height: 4px;
    width: 20px;
    margin: 40px 6px;
    background-color: #b2b2b2;
    cursor: pointer;
  }
  .active {
    background-color: rgb(100, 92, 205);
  }
}

.list-enter-to {
  transition: all 1s ease;
  transform: translateX(0);
}

.list-leave-active {
  transition: all 1s ease;
  transform: translateX(-100%)
}

.list-enter {
  transform: translateX(100%)
}

.list-leave {
  transform: translateX(0)
}
