@keyframes placeHolderShimmer{
  0%{
      background-position: 50% 0
  }
  100%{
      background-position: -50% 0
  }
}
$paddingTop: 14rem;
$center-top: $paddingTop + 3rem;
.skeleton-home {
  height: 100vh;
  box-sizing: border-box;
  padding-top: $paddingTop;
  background-color: #eee;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #eeeeee, #dddddd 10%, #eeeeee 30%);
  background-size: 400% 400%;
  .center-hor-line {
    height: 3rem;
    background-color: #fff;
    margin-bottom: 7rem;
  }
  .top-line {
    position: absolute;
    top: 3rem;
    height: 1rem;
    width: 100%;
    background-color: #fff;
  }
  .left-col-line {
    position: absolute;
    top: $center-top;
    width: 2rem;
    height: 8rem;
    background-color: #fff;
  }
  .center-col-line {
    position: absolute;
    top: $center-top;
    left: 50%;
    transform: translateX(-50%);
    width: 2rem;
    height: 8rem;
    background-color: #fff;
  }
  .right-col-line {
    position: absolute;
    top: $center-top;
    right: 0;
    width: 2rem;
    height: 8rem;
    background-color: #fff;
  }
}